/* calculator ko web page ke center me lane ke liye */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full height of the screen */
}

/* calculator ko fixed width dene ke liye */
#calculator{
    border: 2px solid rgb(75, 73, 73);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    background-color: #211f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#screen-display{
    
    margin: 10px;
    width: 85%;
    font-size: 25px;
    border-radius: 3px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    margin-bottom: 7px;
}
.button{
    width: 45px;
    height: 45px;
    margin: 9px;
    background-color: rgb(209, 209, 193);
    border: none;
    border-radius: 5px;
}
#AC{
    background-color: orange;
}



